<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
  backupGlobals="false"
  colors="true"
  cacheDirectory=".phpunit.result.cache"
>
  <testsuites>
    <testsuite name="tests">
      <directory suffix="Test.php">tests</directory>
      <exclude>tests/fixtures/*</exclude>
    </testsuite>
  </testsuites>
</phpunit>
